.ad-container{
    /* background-color:rgb(78, 195, 218); */
    display: grid;
    /* width: 1500px; */
    height: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "text";
}

.adText-container{
    background-color:rgb(78, 160, 218);
    height: 150px;
    width: 1600px;
    color: rgb(140, 224, 228);
    grid-area: text;
}

.adText-container h2, h4 {
    line-height: 10em;
    text-align: center;
    font-size: 55px;
}

.adImage-container{
    height: 300px;
    width: 400px;
    grid-area: img;

}
.adImage-container img {
    object-fit: contain;
    width: 829px;
}

.hr{
    margin-top: 25px;
}

ul{
    margin: 10px;
    list-style: none;
}

li{
    margin: 3px;
}

@media screen and (max-width: 600px) {
    .ad-container{
        display: grid;
        grid-template-areas:
        "text";
        height: 100px;
    }
    
    .adText-container h1,h2, h4 {
        font-size: 18px;
        text-align: left;
    }

    .adImage-container{
        grid-area: img;
        height: 100px;
        width: 200px;
        
    }
    
    .adImage-container img {
        height: 150px;
        width: 200px;
    }
    
    ul{
        list-style: none;
        margin: 10px;
    }
    
    li{
        margin: 3px;
    }
};