.carousel-wrapper{
    /* position:fixed; */
}

.adText-container{
    padding: 20px;
    margin-top: 38px;
    width: 100%;
    grid-area: text;
    text-align: center;
    color: rgb(140, 224, 228);
    background-color:rgb(78, 160, 218);
}
.hr{
    margin-top: 25px;
}

ul{
    margin: 10px;
    list-style: none;
}

li{
    margin: 3px;
}

@media screen and (max-width: 600px) {
    .adText-container{
        margin-left: -40px;
        padding:7px;
        text-align: center;
    }
    
    ul{
        list-style: none;
        margin: 10px;
    }
    
    li{
        margin: 3px;
    }
};