.adText-container{
    color: rgba(78, 195, 218, 0.932);
    background-color:rgb(28, 101, 211);
    width: 100%;
    padding: 20px;
    margin-top: 38px;
    margin-left: -53.5px;
    font-size: 50px;
    grid-area: text;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .adText-container{
        font-size: 18.5px;
        margin-left: -53.5px;
        padding: 10px;
        text-align: center;
    }
};