.cart-is-active{
    margin-top: 0px;
}
.active-cart{
    padding-top: 50px;
}
.cart-item{
    display:grid;
    width: 100%;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "img rest type";
}
.order-num-container{
    display: inline;
    margin: 0 auto;
    text-align: center;
}
.food-img-container{
    display: grid;
    grid-area: img;
    margin: 0 auto;
}
#meal-kit{
    height: 120px;
    margin: 0 auto;
}

.restaurant-name-container{
    display: grid;
    grid-area: rest;
    line-height: 60px;
    text-align: center;
}
.meal-details{
    display: grid;
    grid-area: type;
    line-height: 60px;
    margin: 0 auto;
}
.meal-details h6{
    white-space: nowrap;
}
#delete-item-btn{
    width: 22px;
}

@media screen and (max-width: 600px){

    .cart-is-active{
        margin-top: 0px;
    }
    .active-cart{
        padding-top: 50px;
    }
    .cart-item{
        display:grid;
        width: 100%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "img rest type";
    }
    .order-num-container{
        display: inline;
        margin: 0 auto;
        text-align: center;
    }
    .food-img-container{
        display: grid;
        grid-area: img;
        margin: 0 auto;
    }
    #meal-kit{
        height: 120px;
        margin: 0 auto;
    }

    .restaurant-name-container{
        display: grid;
        grid-area: rest;
        line-height: 60px;
        text-align: center;
    }
    .meal-details{
        display: grid;
        grid-area: type;
        line-height: 60px;
        margin: 0 auto;
    }
    .meal-details h6{
        white-space: nowrap;
    }
    #delete-item-btn{
        width: 22px;
    }
}