.footer{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:rgb(110, 217, 227);
text-align: center;
background-color: rgb(78, 111, 218);
position: absolute;
bottom: 0;
width: 100%;
height: 4rem;
}

.content-container{
  margin: 25px;
}

@media only screen and (max-width: 600px) {
  .footer{
    position: fixed;
    height: 2rem;
  }

  .content-container{
    margin: 0px;
    line-height: 5px;
  }
}