.footer{
  bottom: 0;
  height: 50px;
  position: sticky;
  width: 100%;
}

.nyc-doe-logo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: right;
}

.nyc-doe-logo img{
  margin: 10px;
  height: 30px;
}

.nyc-gov-logo{
  padding-left: 980px;
  display: inline-grid;
  grid-template-rows: 1fr;
  place-content: right;
}

.nyc-gov-logo img{
  margin: 10px;
  height: 40px;
}

.content-container{
  text-align: center;
  line-height: 1px;
  margin: 10px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .footer{
    margin-top: 10px;
    position: sticky;
  }
  .nyc-gov-logo{
    padding-left: 200px;
  }

  .content-container{
    text-align: center;
    padding-bottom: 10px;
  }
}
