.restaurants-display-wrapper{
    padding-top: 40px;
    text-align: left;
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loggedInDisplay-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:  
    "rest rest rest"
}

.r-container{
    display: grid;
    grid-area: rest;
    margin-bottom: 20px;
    place-content: center/center;
}

/* Map Toggle Switch  */
.mapview-switch-container{
    text-align: right;
}

@media screen and (max-width: 600px) {
    
    .restaurants-display-wrapper{
        text-align: left;
    }

    .home-banner h1{
        font-size: 20px;
        color: rgb(9, 37, 51);
        text-align: center;
        line-height: 56px;    
    }
    
    .loggedInDisplay-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mapview-switch-container{
        margin: 0px;
    }

    input::placeholder{
        text-align: left;
    }


    .r-container{
        grid-area: rest;
        margin-bottom: 40px;
        place-content: center/center;
    }
}