@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@600;700&display=swap');

html, body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

.home-page-wrapper{
  width: 100%;
}

#top-splash-page{
  width: 1424px;
  height: 400px;
  object-fit:none;
  object-position: 50% 70%;
}

.home-main-content-container{
  margin: 10px;
  
}
#home-content-img{
  height: 446px;
}

.main-content-container-p{
  background:  rgb(229, 229, 229);
  margin: -10px;
}

.home-content-image-container{
  display: grid;
  /* margin: 10px; */
  grid-template-columns: repeat(2, 1fr);
}

section {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: Agrandir,sans-serif;
  padding: 2rem 10%;
}

section:nth-child(4) {
  text-align: center;
  background:  rgb(28, 101, 211);
  color: white;
  clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
  padding: 10rem 10%;
}

@media screen and (max-width: 600px){
  
  #top-splash-page{
    padding-top: 65px;
    max-width: 600px;
    height: 600px;
    object-fit:fill;
  }
  
  #home-content-img{
    height: 100px;
  }
  
  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-container-p{
    width: 600px;
    background:  rgb(234, 234, 234);
  }
  
  section {
    width: 600px;
    font-family: 'Open Sans', sans-serif;
  }
  
  section:nth-child(2) {
    width: 600px;
    background:  rgb(28, 101, 211);
    color: white;
    padding: 10rem 05%;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    text-align: center;
  }

  .map{
    width: 500px;
  }
}