@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@600;700&display=swap');

.slide-show-wrapper{
  margin-left: 115px;
  margin-right: 115px;
}

.home-main-content-container{
  margin: 10px;
}

#home-content-img{
  height: 446px;
}

.main-content-container-p{
  margin: 30px;
}

.home-content-image-container{
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(2, 1fr);
}

section {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem 10%;
}

section:nth-child(2) {
  text-align: center;
  background:  rgb(28, 101, 211);
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
}

@media screen and (max-width: 600px){

  .slide-show-wrapper{
    margin-left: 45px;
    margin-right: 45px;
  }

  
  #home-content-img{
    height: 100px;
  }
  
  .home-content-image-container{
    display: grid;
    margin: 2px;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-container-p{
    /* background-image: url("../assets/donutsImage.png"); */
    margin: 5px;
  }

  section {
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 20%;
  }
  
  section:nth-child(2) {
    text-align: center;
    background:  rgb(28, 101, 211);
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 10%;
  }
  }