body{
    /* background-color: rgb(28, 28, 28); */
    margin:0;
    padding: 0;
  }
  
  .home-banner{
    padding: 5px;
    text-align: center;
    height:80px;
    background: rgb(232, 221, 14) url("https://i.imgur.com/y8isvGw.png") fixed center;
    background-size: 300px;
}

  .home-banner h1{
    color: rgb(9, 37, 51);
    text-align: center;
    /* line-height: 300%; */
  
}

.loggedInDisplay-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    /* "car car car"  */
    "rest rest rest"
    "fil fil fil" 
}

.f-container{
    grid-area: fil;
    display: grid;
    place-content: center;
}

.r-container{
    grid-area: rest;
    margin-bottom: 20px;
    place-content: center/center;
}

.c-container{
    grid-area: car
}

.mapView{
    padding-top: 40px;
    text-align: left;
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Search Bar */
#restaurant-locator-search{
    margin-left: 480px;
    width: 363px;
}
.search-button{
    height: 50px;
    width: 50px;
    border: none;
    margin: 0px;
    display: inline;
    color: white;
    background-color:rgb(9, 37, 51);
}
/* 
.toggle-switches{
    display: grid;
    grid-template-columns: auto auto;
}
.darkmode-switch-container{
    margin-top: 5px;
    margin-right: 20px;
}

.darkmode-switch{
    height: -10px;
}
.mapview-switch-container{
    margin-top: 5px;
    margin-right: 20px;
}

.mapView-switch{
    height: -10px;
} */

@media screen and (max-width: 600px) {
    
      .home-banner h1{
        font-size: 20px;
        color: rgb(9, 37, 51);
        text-align: center;
        line-height: 56px;
      
    }
    
    .loggedInDisplay-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-areas:  
        "rest rest rest"
        "fil fil fil"; */
    }

    .toggle-switches{
        display: grid;
        grid-template-columns: auto auto;
    }
    .darkmode-switch-container{
        margin-top: 5px;
        margin-right: 20px;
    }
    
    .darkmode-switch{
        height: -10px;
    }
    .mapview-switch-container{
        margin-top: 5px;
        margin-right: 20px;
    }
    
    .mapView-switch{
        height: -10px;
    }

    .restaurant-search-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    
    .restaurant-locator-search{
        width: 95%;
        border-radius: 10px;
    }
    #search-button{
        margin: 10px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color:rgb(9, 37, 51);
    }
    
    .f-container{
        grid-area: fil;
        grid-template-columns: 1fr;
    }
    .r-container{
        grid-area: rest;
        margin-bottom: 40px;
        place-content: center/center;
    }
    
    .c-container{
        /* white-space: nowrap; */
        grid-area: car
    }
    .mapView{
        /* width: 600px; */
        text-align: center;
        letter-spacing: 1px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}