
.home-page-wrapper{
    padding-top: 40px;
}
.carousel-wrapper{
  position: fixed;
}
#top-splash-page{
  width: 100%;
  height:400px;
  object-fit:cover;
  object-position: 50% 70%;
}

.home-main-content-container{
  margin: 10px;
  
}
#home-content-img{
  height: 446px;
}

.main-content-container-p{
  margin: -10px;
}

.home-content-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section {
  font-family: Agrandir,sans-serif;
  padding: 2rem 10%;
}

#section-heading{
  text-align: center;
  background: rgb(9, 37, 51);
  color: rgb(255, 201, 4);
  clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
  padding: 10rem 10%;
}

section:nth-child(4) {
  text-align: center;
  background: rgb(9, 37, 51);
  color:  rgb(255, 201, 4);
  clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
  padding: 10rem 10%;
}



@media only screen and (max-width: 600px){
  .carousel-wrapper{
    /* position: fixed; */
  }
  #top-splash-page {
    width: 100%;
    height: 200px;
  }

  #top-splash-page img {
    margin: -10px 20px 0px -180px;
  }

  .home-page-wrapper{
    width: 600px;
  }

  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .main-content-container-p{
    width: 600px;
  }

  .map-container{
    width: 600px;
  }
} 
@media only screen and (max-width: 500px){

  
  .home-page-wrapper{
    width: 500px;
  }

  .main-content-container-p{
    width: 500px;
  }

  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  section {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
  }
  
  section:nth-child(2) {
    width: 500px;
    backgroUnd:  rgb(9, 37, 51);
    color:  rgb(255, 201, 4);
    padding: 10rem 05%;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    text-align: center;
  }

  .map-container{
    width: 500px;
  }
} 

/* iPhone 12 Pro Max */
@media only screen and (max-width: 428px){
  
  .home-page-wrapper{
    width: 428px;
  }

  
  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-container-p{
    width: 428px;
    /* background:  rgb(234, 234, 234); */
  }
  
  section {
    width: 428px;
    font-family: 'Open Sans', sans-serif;
  }
  
  section:nth-child(2) {
    width: 428px;
    background:  rgb(9, 37, 51);
    color: rgb(255, 201, 4);
    padding: 10rem 05%;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    text-align: center;
  }

  .map-container{
    width: 428px;
  }
  
}

/* iPhone 12 / 13  */
@media only screen and (max-width: 390px){
  
  .home-page-wrapper{
    width: 390px;
  }

  
  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-container-p{
    width: 390px;
    /* background:  rgb(234, 234, 234); */
  }
  
  section {
    width: 390px;
    font-family: 'Open Sans', sans-serif;
  }
  
  section:nth-child(2) {
    width: 390px;
    background:  rgb(9, 37, 51);
    color:  rgb(255, 201, 4);
    padding: 10rem 05%;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    text-align: center;
  }

  .map-container{
    width: 390px;
  }
}

/* iPhone 12/ 13 mini */
@media only screen and (max-width: 375px){
  .home-page-wrapper{
    width: 375px;
  }

  
  .home-content-image-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .main-content-container-p{
    width: 375px;
  }
  
  section {
    width: 375px;
    font-family: 'Open Sans', sans-serif;
  }
  
  section:nth-child(2) {
    width: 375px;
    background: rgb(9, 37, 51);
    color:  rgb(255, 201, 4);
    padding: 10rem 05%;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    text-align: center;
  }

  .map-container{
    width: 375px;
  }
  
}

 

 

 