.info-icons-wrapper{
  background-color: rgb(229, 229, 229);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: Agrandir,sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

#info-icon-1 img{
  text-align: center;
}

#info-icon-1{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
#info-icon-1 h4{
  text-align: center;
  font-size: 12px;
  margin: 20px;
}

#info-icon-1 p{
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

#info-icon-2{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#info-icon-2 h4{
  text-align: center;
  font-size: 12px;
  margin: 20px;
  /* white-space: nowrap; */
}

#info-icon-2 p{
  text-align: center;
  font-size: 12px;
  margin: 10px;
  /* white-space: nowrap; */
}

#info-icon-3{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#info-icon-3 h4{
  text-align: center;
  font-size: 12px;
  margin: 20px;
  /* white-space: nowrap; */
}

#info-icon-3 p{
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

#info-icon-4{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#info-icon-4 h4{
  text-align: center;
  font-size: 12px;
  margin: 20px;
}

#info-icon-4 p{
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .info-icons-wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    width: 1000px;
  }
}

@media screen and (max-width: 600px) {
  .info-icons-wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    width: 600px;
  }

  #info-icon-1 img{
    text-align: center;
  }

  #info-icon-1{
    text-align: center;
  }
  #info-icon-1 h4{
    text-align: center;
    font-size: 12px;
    margin: 20px;
    white-space: nowrap;
  }

  #info-icon-1 p{
    text-align: center;
    font-size: 12px;
    margin: 20px;
    white-space: nowrap;
  }
  
  #info-icon-2{
    text-align: center;
  }
  
  #info-icon-2 h4{
    text-align: center;
    font-size: 12px;
    margin: 20px;
    white-space: nowrap;
  }

  #info-icon-2 p{
    text-align: center;
    font-size: 12px;
    margin: 20px;
    white-space: nowrap;
  }
  
  #info-icon-3{
    text-align: center;
  }
  
  #info-icon-3 h4{
    text-align: center;
    font-size: 12px;
    margin: 20px;
  }

  #info-icon-3 p{
    text-align: center;
    font-size: 12px;
    margin: 20px;
  }
  
  #info-icon-4{
    text-align: center;
  }
  
  #info-icon-4 h4{
    text-align: center;
    font-size: 12px;
    margin: 20px;
  }

  #info-icon-4 p{
    text-align: center;
    font-size: 12px;
    margin: 20px;
  }

}