
.form-container{
    display:initial;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 220px;
  }
  #login-form{
    margin: 200px;
  }
  #username{
    margin: 15px;
  }
  
  #password{
    margin: 15px;
  }
  
  @media only screen and (max-width: 600px) {
   .form-container{
    /* border: 1px solid rgb(193, 193, 193); */
    display: inline-block;
    text-align: center;
    margin: 50px;
    padding-top: 100px;
    padding-bottom: 225px;
  }
  #login-form{
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 10px;
  }
  .submit-btn{
    margin: 20px;
  }
  .sign-up-link-container{
    margin: 20px;
  }

  }