.map-container{
  text-align: center;
  position: inherit;
}

.map{
  z-index: 5;
  /* margin-left: 300px; */
  margin: 10px;
  height: 800px;
  text-align: center;
}

#map-heading{
  text-align: center;
}

.map-marker-details{
  text-decoration: underline;
}

#restaurant-sprite{
  height: 120px;
  margin: 5px;
  /* margin-top: 10px; */
}

@media screen and (max-width: 600px){
  .map-container-checked{
    text-align: center;
  }
  
  .map{
    margin: 2px;
    height: 700px;
    text-align: center;
  }
}