.map-container{
  text-align: center;
}

.map{
  /* margin-left: 300px; */
  margin: 50px;
  margin-bottom: 100px;
  padding-bottom: 260px;
  height: 500px;
  text-align: center;
}

#map-heading{
  text-align: center;
}

.map-marker-details{
  text-decoration: underline;
}

#restaurant-sprite{
  height: 120px;
  margin: 5px;
  /* margin-top: 10px; */
}

@media screen and (max-width: 600px){
  .map-container-checked{
    text-align: center;
  }
  
  .map{
    margin: 0;
    /* margin-bottom: 100px; */
    padding-bottom: 260px;
    height: 500px;
    text-align: center;
  }
}