.nav-btns{
    display: inline;
    margin:100px;
}

.nav-container {
    height: 40px;
    width: 100%;
    z-index: 7;
    display: flex;
    background-color: rgb(34, 61, 148);
    position: fixed;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-logo {
    justify-content: center;
}

.home-logo img {
    margin: 5px 5px 10px 15px;
    width: 30px;
}

.navbar-text {
    margin-top: 36px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.navbar-text:hover {
    color:aqua;
}

.cart {
    display: flex;
}

.cart div{
    margin: none;
    display: flex;
    align-items: center
}

.profile-logout-container a {
    margin: 0px 15px 0px 0px;
    
}

.user-icon{
    height: 15px;
}

.login-container {
    margin: 0px 15px 0px 0px; 
}

nav a {
    text-decoration: none;
    color: white;
}

/* iphone 13 and iphone 13 Pro */
/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (max-width: 400px) {
        .all-restaurants-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 30px;
            justify-items: center;
            margin-bottom: 20px;
        } 

    .nav-container {
        display: flex;
        margin: 0px;
        /* padding: 24px; */
        position: fixed;
        width: 100%;
    }

    .navbar-text {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: white;
        font-size: 20px;
        white-space: inherit;
    }

    .navbar-text:after {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: gray;
        font-size: 20px;
        white-space: inherit;
    }
}


/* Landscape */
/* iphone 13 and iphone 13 Pro */
/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 844px){
    .nav-container {
        max-width: 844px;
        margin: 0px;
        position: relative;
    }

    .navbar-text {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: white;
        font-size: 20px;
        white-space: inherit;
    }

    .navbar-text:after {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: gray;
        font-size: 20px;
        white-space: inherit;
    }
}

/* iPhone 12 / iPhone 12 Pro */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3){
        .all-restaurants-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            grid-gap: 30px;
            justify-items: center;
            margin-bottom: 20px;
        } 

    .nav-container {
        margin: 0px;
        /* padding: 24px; */
        position: fixed;
        /* width: 25%; */
    }

    .navbar-text {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: white;
        font-size: 20px;
        white-space: inherit;
    }

    .navbar-text:after {
        letter-spacing:normal;
        margin-top: 36px;
        margin: 10px;
        text-align: left;
        color: gray;
        font-size: 20px;
        white-space: inherit;
    }
}
