.products-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: baseline;
  justify-content: center;
  margin: 110px;
  gap: 150px;
}

.individual-product{ 
  /* margin: 200px; */
  text-align: left;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin:0;
  padding: 0;
}

.product-details{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
  text-align: left;
}

.product-image{
  margin: 0 auto;
  text-align: center;
  height: 333px;
  display: grid;
  place-items: center;
}

#add-to-cart-btn { 
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 100%;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 1.0s;
  color: rgb(255, 255, 255);
    background-color: rgb(34, 61, 148);
}

#add-to-cart-btn:hover {
  color: white;
  background-color: #4CAF50; /* Green */
}

#dietary-sprite{
  padding: 0;
  margin:0;
  height: 30px;
}

.restaurant-details{
  font-size: 16px;
  color: rgb(34, 61, 148);
  text-align: center;
  padding-top: 38px;
  height: 180px;
  background: rgb(232, 221, 14) url("https://i.imgur.com/y8isvGw.png") fixed center;
  background-size: 300px;
}

#back-btn{
  background-color: rgb(34, 61, 148); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
  margin: 15px 0px 0px 15px;
}

#back-btn:hover{
  color: white;
  background-color: aqua;
}

#modal-box{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
}

.modal-button {
  background-color: rgb(34, 61, 148);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 100%;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.2s;
}
 .modal-button:hover{
  color: white;
  background-color: rgb(59, 88, 183);
 }

@media only screen and (max-width: 600px){

  
   .products-container{
     display: grid;
     gap: 50px;
     margin: 30px;
     grid-template-columns: repeat(1, 1fr);
  }
  
  .individual-product{ 
    display: grid;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-name{
    font-size: 22px;
    margin-left: 10px;
  }
  
  .product-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    text-align: left;
  }
  
  #add-to-cart-btn{
    margin: 0px 10px 0px 10px;
    border: none;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.2s;
    grid-template-columns: repeat(1, 1fr);
  }
  
  #add-to-cart-btn:hover {
    color: white;
    background-color: #4CAF50; /* Green */
  }

  .restaurant-details{
    font-size: 12px;
    padding: 57px;
    text-align: center;
  }

  #product-image{
    display: grid;
    justify-content: center;
    height: 110px;
  }


#back-btn{
  background-color: rgb(34, 61, 148); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 16px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
  margin: 15px 0px 0px 15px;
}

#back-btn:hover{
  color: white;
  background-color: aqua;
}

#modal-box{
  width: 200px;
  text-align: center;
  color: rgb(34, 61, 148);
  background-color: rgba(232, 232, 232, 0.683);
  border-radius: 20px;
  border: none;
}

.modal-button {
  background-color: rgb(34, 61, 148);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  /* height: 40px; */
  font-size: 12px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
}

 .modal-button:hover{
  color: white;
  background-color: rgb(59, 88, 183);
 }
}