body{
  margin:0;
  padding: 0;
}

.products-container{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  margin: 110px;
  gap: 150px;
}

.individual-product{ 
  margin: 200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:0;
  padding: 0;
}

.product-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
}

#product-image{
  height: 250px;
}

#add-to-cart-btn{
  background-color: rgb(78, 111, 218);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 100%;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 1.2s;
}

#add-to-cart-btn:hover {
  color: white;
  background-color: #4CAF50; /* Green */
}

#dietary-sprite{
  padding: 0;
  margin:0;
  height: 30px;
}

.restaurant-details{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: rgb(78, 111, 218);
  text-align: left;
  padding: 5px;
  background: rgb(117, 208, 216) url("https://st4.depositphotos.com/4177785/27354/v/1600/depositphotos_273546568-stock-illustration-food-vector-seamless-pattern-cuisine.jpg") no-repeat fixed center; 
  background-size: 1200px;
}

#back-btn{
  background-color: rgb(78, 111, 218); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
  margin: 15px 0px 0px 15px;
}

#back-btn:hover{
  color: white;
  background-color: aqua;
}

#modal-box{
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
}

.modal-button {
  background-color: rgb(78, 111, 218);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 100%;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.2s;
}
 .modal-button:hover{
  color: white;
  background-color: rgb(59, 88, 183);
 }

@media only screen and (max-width: 600px){

  
   .products-container{
     display: grid;
     gap: 50px;
     margin: 30px;
     justify-content: center;
     grid-template-columns: repeat(1, 1fr);
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .individual-product{ 
    display: grid;
    text-align: left;
    grid-template-columns: repeat(1, 1fr);
    margin: 200px;
    margin:0;
    padding: 10px;
  }
  
  .product-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    text-align: left;
  }
  
  #add-to-cart-btn{
    background-color: rgb(78, 111, 218);
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    line-height: 100%;
    /* padding: 25px 40px; */
    text-align: center;
    transition-duration: 0.2s;
  }
  
  #add-to-cart-btn:hover {
    color: white;
    background-color: #4CAF50; /* Green */
  }

  .restaurant-details{
    color: rgb(78, 111, 218);
    font-size: 12px;
    padding: 5px;
    text-align: center;
    background-color: white; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #product-image{
    display: grid;
    justify-content: center;
    height: 260px;
  }


#back-btn{
  background-color: rgb(78, 111, 218); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
  margin: 15px 0px 0px 15px;
}

#back-btn:hover{
  color: white;
  background-color: aqua;
}

#modal-box{
  width: 200px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
}

.modal-button {
  background-color: rgb(78, 111, 218);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  /* height: 40px; */
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.2s;
  line-height: 100%;
}

 .modal-button:hover{
  color: white;
  background-color: rgb(59, 88, 183);
 }

}
