@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@600;700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

.all-restaurants-container{
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-column-align:inherit;
}

.restaurant-container{
    /* z-index: 3; */
    color: white;
    margin: 20px;
    max-width: 344px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.restaurant-container:hover {
     z-index: 3;
     max-width: 344px; 
 }

.restLink{
    text-decoration: none;
    color: white;
}

.restaurant-data{
    color: white;
    text-align: left;
    background-color: rgb(28, 101, 211);
    font-family:'Open Sans', sans-serif;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.restaurant-data:hover{
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 61, 148);
}

.image-container{
    max-height: 220px;
    z-index: 1;
}

.image-container img{
    width: 344px;
    height: 210px;
    border-radius: 0px;
    position: relative;
}


.image-container:hover img{
    transform: scale(1.02);
    animation-duration: 1.2s;
}

.restaurant-image{
    width: 340px;
}

.restaurant-name{
    text-align: left;
    margin: 10px;
} 

.restaurant-type{
    text-align: left;
    margin: 20px;
} 

.restaurant-address{
    text-align: left;
    margin-left: 10px;
    padding-bottom:20px;
}

@media only screen and (max-width: 375px) {
    .all-restaurants-container{
        max-width: 325px;
    }
}


/* iphone 13 and iphone 13 Pro */
/* 2532x1170 pixels at 460ppi */

@media only screen and (max-width: 600px) {
        .all-restaurants-container{
            /* max-width: 380px; */
            /* width: 100%; */
            display: grid;
            /* grid-gap: 20px; */
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            justify-items: center;
            margin-bottom: 20px;
            /* padding-top: 100px; */
        }

    .restaurant-container{
        z-index: 3;
        color: white;
        display: inline-block;
        margin: 5px;
        max-width: 173px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        /* background-color: rgb(78, 111, 218); */
    }
    .restaurant-container:hover {
        max-width: 173px; 
    }
   

    .restaurant-address{
        font-size: 10px;
        color:rgb(236, 236, 236);
        margin: 10px;
        padding-bottom: 10px;
    }

    .restaurant-image{
        width: 222px;
    }

    .restaurant-name{
        font-size: 13px;
        margin: 10px;
    } 

    .image-container img{
        width: 173px;
        height: 100px;
        border-radius: 0px;
        position: relative;
    }

    .image-container:hover img{
        transform: scale(1.02);
        animation-duration: 1.2s;
    }
}

@media only screen and (min-width: 600px) {
    .all-restaurants-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        margin-bottom: 20px;
    }

.restaurant-container{
    z-index: 3;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 344px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: rgb(78, 111, 218); */
}

.restaurant-address{
    margin-top: 10px;
    padding-bottom:20px;
}

.restaurant-type{
    color: orange;
    margin: 0px;
} 
}

@media only screen and (min-width: 1024px) {
    .all-restaurants-container{
        grid-template-columns: repeat(3, 1fr);
    }
}