.all-restaurants-container{
    /* border: 10px solid saddlebrown; */
    /* text-align: center; */
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}