.container {
  display: flex;
  width: 91%;
  padding: 3% 0%;
  box-sizing: border-box;
  height: 65vh;
}

.box {
  background-color: rgb(28, 101, 211);
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  color: #FFFFFF;
  flex: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 0;
  margin: 1% -10%;
  overflow: hidden;;
  transition: .5s;
}
/* box with text */
.box > img {
  width: 100%;
  height: calc(100% - 0vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  margin-left: 20px;
  /* text-align: left; */
  height: 15vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    width: 91%;
    /* padding: 3% 0%; */
    box-sizing: border-box;
    height: 22vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    /* margin: 2% -10%; */
    line-height: 0;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    color: rgb(28, 101, 211);
    background-color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .box > img {
    width: 100%;
    height: calc(100% - 0vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 5vh;
    line-height: 2.6;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
   
  
}